.App {
  padding: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333;
  min-height: 100vh;
  display: flex;


  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4cb0fb;
}

.pdfBox {
  outline: 1px solid #f00;
  width: 1000px;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

/*.popup {*/
/*  position: absolute !important;*/
/*  top: 0 !important;*/
/*  left: 0 !important;*/
/*  width: 100% !important;*/
/*}*/

.viewer-box {
  width: 790px;
  height: 600px;
  margin: 10px 0 auto;
}

.viewer {
  width: 100%;
  height: auto;
}
